ul,
li,
h3,
p,
body {
	margin: 0;
	padding: 0;
	font-family: "microsoft yahei";
}

ul,
li {
	list-style: none;
}

.flex-container {
	display: flex;
	flex-flow: row wrap;
	box-sizing: border-box;
}

ul li {
	width: 250px;
	margin: 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
	font-size: 14px;
	
}

ul li>a {
	display: inline-block;
	width: 250px;
	height: 150px;
	border: solid 10px #333;
	border-radius: 10px;
	overflow: hidden;
	box-sizing: border-box;
}

ul li>a img {
	transition-property: transform;
	transition-duration: 2s;
	-webkit-transition-property: transform;
	/* Safari and Chrome */
	-webkit-transition-duration: 2s;
	/* Safari and Chrome */
}

ul li h3 {
	color: #333;
	font-size: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: keep-all;
	white-space: nowrap;
	padding: 5px 0;
}

ul li div {
	font-size: 14px;
	color: #808080;
	padding: 0 10px;
}

ul li div .desc {
	padding-bottom: 5px;
}

ul li div .time {
	color: #333;
	padding-bottom: 5px;
}

ul li .info {
	background-color: #f0f0f0;
	;
	border-radius: 0 0 3px 3px;
	border-top: 1px solid #e7e7e7;
	box-shadow: 0 1px 0 0 #fff inset;
	color: #363636;
	;
	font-size: 14px;
	padding: 2px 10px;
}

ul li .info .auth {
	float: right;
}

ul li a:hover img {
	-webkit-transform: scale(1.5);
}